* {
    font-family: 'lato', 'sans-serif';
}

a {
    text-decoration: none;
    color: rgb(31, 31, 31);
}

div p a {
    color: rgb(0, 132, 255);
}

div p a:hover {
    color: rgb(31, 31, 31);
}

.nav-link {
    color: white;
    font-size: 1.2rem;
}

.nav-pills .nav-link:hover {
    color: rgb(0, 132, 255);
}

img {
    opacity: .85;
    scale: 1;
}

.img-hover-zoom {
    height: auto;
    overflow: hidden;
}

.img-hover-zoom img {
    transition: transform .5s ease;
}

.img-hover-zoom:hover img {
    transform: scale(1.2);
}

.top-background {
    background-image: url("https://res.cloudinary.com/jorgenb/image/upload/v1674044516/static/media/background-img.cbbe7ebc308c.jpg");
    height: 75vh;
    width: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom-background {
    background: rgb(230, 228, 228);
    height: 25vh;
    width: 100%;
    z-index: -1;
}

.z-index {
    z-index: 1;
    margin-top: -100vh;
}

.card-push-down {
    margin-top: 45%;
}

.opacity-lower {
    opacity: .50;
}

.opacity-lower:hover {
    opacity: 1;
}

footer a {
    color: rgb(0, 132, 255);
}

footer a:hover {
    color: rgb(31, 31, 31);
}