{% block card %}
<div class="card">
    <!-- Card Title -->
    <div class="card-title p-1">
        <h4 class="card-title">{{ room }}</h4>
    </div>

    <div class="container">
        <!-- Short info -->
        <p class="card-text text-muted h6 text-center">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae eligendi pariatur aperiam saepe laudantium!
            Officiis autem enim iure possimus, id cum sunt consequatur soluta magnam explicabo quisquam sit non aliquam!
        </p>
        <div class="mb-2 text-center">
            <a href="" class="btn btn-success">More info.</a>
        </div>
    </div>
</div>
{% endblock %}