{% load static %}

<!------------- LUXURY ------------->

{% if room_information == 'LUXURY' %}
<!-- Long Information -->
<p>LUXURY - Long information</p>
{% endif %}

{% if room_short_information == 'LUXURY' %}
<!-- Short information -->
<p class="text-center">Є95</p>
{% endif %}

<!------------- KING ------------->

{% if room_information == 'DUBBLE' %}
<!-- Long Information -->
<p>DUBBLE - Long information</p>
{% endif %}

{% if room_short_information == 'DUBBLE' %}
<!-- Short information -->
<p class="text-center">Є75</p>
{% endif %}

<!------------- QUEEN ------------->

{% if room_information == 'SINGAL' %}
<!-- Long Information -->
<p>SINGAL - Long information</p>
{% endif %}

{% if room_short_information == 'SINGAL' %}
<!-- Short information -->
<p class="text-center">Є45</p>
{% endif %}