{% extends 'base.html' %}
{% block content %}
{% load static %}
    <div class="row justify-content-center card-push-down">
        {% for room_category, room_url in room_list %}
        <div class="col-md-4">
            <a href="{{ room_url }}">
                <div class="card border-5 border-light">
                    <div class="img-hover-zoom">
                        {% include 'room_images.html' with room_images=room_category %}
                    </div>
                    <!-- Card Title and Price -->
                    <h4 class="card-title text-center mt-1">{{ room_category }} Suite
                        {% include 'room_information.html' with room_short_information=room_category %}</h4>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}