{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container">
    {{ if.authenticated }}
    <h1>Room List</h1>
    {% for room_category, room_url in room_list %}
    <div class="col-md-4 mt-3">
        <div class="card">
            <!-- Card Title -->
            <h4 class="card-title text-center mt-1">{{ room_category }} Suite</h4>
            {% include 'room_images.html' with room_images=room_category %}
            <div class="container">
                <!-- Short info -->
                {% include 'room_information.html' with room_short_information=room_category %}
                <div class="mb-2 text-center">
                    <a href="{{ room_url }}" class="btn btn-success">More Info</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}