{% load static %}

<!------------- AC ------------->

{% if room_information == 'AC' %}
<!-- Long Information -->
<p>AC - Long information</p>
{% endif %}

{% if room_short_information == 'AC' %}
<!-- Short information -->
<p>AC - Short Infromation</p>
{% endif %}

<!------------- NO-AC ------------->

{% if room_information == 'NO-AC' %}
<!-- Long Information -->
<p>NO-AC - Long information</p>
{% endif %}

{% if room_short_information == 'NO-AC' %}
<!-- Short information -->
<p>NO-AC - Short Infromation</p>
{% endif %}

<!------------- LUXURY ------------->

{% if room_information == 'LUXURY' %}
<!-- Long Information -->
<p>LUXURY - Long information</p>
{% endif %}

{% if room_short_information == 'LUXURY' %}
<!-- Short information -->
<p>LUXURY - Short Infromation</p>
{% endif %}

<!------------- KING ------------->

{% if room_information == 'KING' %}
<!-- Long Information -->
<p>KING - Long information</p>
{% endif %}

{% if room_short_information == 'KING' %}
<!-- Short information -->
<p>KING - Short Infromation</p>
{% endif %}

<!------------- QUEEN ------------->

{% if room_information == 'QUEEN' %}
<!-- Long Information -->
<p>QUEEN - Long information</p>
{% endif %}

{% if room_short_information == 'QUEEN' %}
<!-- Short information -->
<p>QUEEN - Short Infromation</p>
{% endif %}